*{
    margin: 0;
    padding: 0;
    font-family: Lalezar;
}

body{
    background-image: url(../src/public/content/img/bg7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    
}

nav{
    background-color: #7B4A72;
    padding: 20px;
}

nav h1{
    color: #DAC6EB;
    font-size: 25px;
    text-shadow: 0 0 7px #000;
}

header img{
    border-radius: 50%;
    width: 200px;
    position: absolute;
    left: 1720px;
    top: -11px;
}

form{
    color: white;
    background-color: #01035f7e;
    box-shadow:  0 0 15px #FE49DD;
    position: absolute;
    left: 650;
    top: 180px;
    border-radius: 20px;
    padding: 200px;
    height: 270px;
    width: 200px;
}

form h1{
    color: #DAC6EB;
    font-size: 60px;
    margin-top: -150px;
    text-shadow: 0 0 5px #000;
}

form #LFname{
    color: #F679A2;
    font-size: 20px;
    margin-left: -120px;
    position: absolute;
    top: 170px;
    text-shadow: 0 0 5px #000;
}

form #Fname{
    background-color: #54688D;
    border: 0px solid black;
    position: absolute;
    top: 200px;
    width: 450px;
    height: 40px;
    margin-left: -120px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 20px;
    padding: 10px;
}

form #LLname{
    color: #F679A2;
    font-size: 20px;
    margin-left: -120px;
    position: absolute;
    top: 250px;
    text-shadow: 0 0 5px #000;
}

form #Lname{
    background-color: #54688D;
    border: 0px solid black;
    position: absolute;
    top: 280px;
    width: 450px;
    height: 40px;
    margin-left: -120px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 20px;
    padding: 10px;
}

form #Lemail{
    color: #F679A2;
    font-size: 20px;
    margin-left: -120px;
    position: absolute;
    top: 330px;
    text-shadow: 0 0 5px #000;
}

form #email{
    background-color: #54688D;
    border: 0px solid black;
    position: absolute;
    top: 360px;
    width: 450px;
    height: 40px;
    margin-left: -120px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 20px;
    padding: 10px;
}

form #Lpass{
    color: #F679A2;
    font-size: 20px;
    margin-left: -120px;
    position: absolute;
    top: 410px;
    text-shadow: 0 0 5px #000;
}

form #pwd{
    background-color: #54688D;
    border: 0px solid black;
    position: absolute;
    top: 440px;
    width: 450px;
    height: 40px;
    margin-left: -120px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 20px;
    padding: 10px;
}

form #LConpwd{
    color: #F679A2;
    font-size: 20px;
    margin-left: -120px;
    position: absolute;
    top: 490px;
    text-shadow: 0 0 5px #000;
}

form #Conpwd{
    background-color: #54688D;
    border: 0px solid black;
    position: absolute;
    top: 520px;
    width: 450px;
    height: 40px;
    margin-left: -120px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 20px;
    padding: 10px;
}

form button{
    position: absolute;
    top: 590px;
    left: 350px;
    padding: 7px;
    width: 180px;
    border-radius: 20px;
    border: 0px solid black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    background-color: #54688D;
    color: #F679A2;
    text-shadow: 0 0 2px #000;
}

form button:hover{
    background-color: #F679A2;
    color: #01035f;
}

@media (max-width: 768px) {

    body{
        background-image: url(../src/public/content/img/bg-respo2.png);
        position: fixed;
    }

    header img{
        display: none;
    }

    nav{
        width: 460px;
    }

    img{
        position: absolute;
        right: 200px;
    }

    form {
        /* Reduce padding for smaller screens */
        height: 300px;
        background-color:#020202e1;
        width: 80px;
        border-radius: 20px;
        left: 10;
    }

    form h1 {
        font-size: 25px; /* Adjust font size for smaller screens */  
        text-align: center;
        text-shadow: 0 0 2px #000;
    }

    form #Lemail, form #Lpass{
        font-size: 25px; /* Adjust font size for labels */
        position: absolute;
        left: 150px;
        text-shadow: 0 0 2px #000;
    }

    form #LFname, form #LLname {
        font-size: 25px; /* Adjust font size for labels */
        position: absolute;
        left: 160px;
        text-shadow: 0 0 2px #000;
    }

    form #Fname, form #Lname {
        font-size: 20px; /* Adjust font size for labels */
        position: absolute;
        width: 400px;
        left: 160px;
        color: white;
    }

    form #Lemail, form #Lpass{
        font-size: 25px; /* Adjust font size for labels */
        position: absolute;
        left: 160px;
        text-shadow: 0 0 2px #000;
    }

    form #email, form #pwd{
        font-size: 20px; /* Adjust font size for labels */
        position: absolute;
        width: 400px;
        left: 160px;
    }

    form #LConpwd{
        font-size: 25px; /* Adjust font size for labels */
        position: absolute;
        left: 160px;
        text-shadow: 0 0 2px #000;
    }

    form #Conpwd{
        font-size: 25px; /* Adjust font size for labels */
        position: absolute;
        width: 400px;
        left: 160px;
    }

    form #btnSingUp {
         width: 170px; /* Make buttons full width */
        left: 265px;
        transform: none;
        text-shadow: 0 0 2px #000;
    }


}

@media (max-width: 480px) {
    form {
        padding: 30px; /* Further reduce padding for very small screens */
    }

    form h1 {
        font-size: 40px; /* Further adjust font size for very small screens */
    }

    form #ema, form #pwd {
        font-size: 17px; /* Further adjust label font size */
    }
}